body{
    margin: 0;
    padding: 0;
}

a.navbar-brand {
    padding-top: 19px !important;
}

.fixed-header a.navbar-brand {
    padding-top: 13px !important;
}

.tgem-red{
    color: #FF342F !important;
}

.purchase {
    background: url(../images/parallax/idea.jpg) no-repeat center center;
}